@charset "utf-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";


// Import a Google Font

//COLORS
$primary: #433967;
$primary: #433967;

$secondary: #000000;
$danger: #D51F06;

//INPUTS
$input-focus-border-color: $primary;
$input-focus-box-shadow-color: rgba($primary, 0.25);
// $input-color: var(--text-color);
// $input-background-color: var(--bg-color);
// $input-border-color: var(--bg-color);
// $input-hover-color: var(--text-secondary);
// $input-hover-border-color: var(--text-secondary);
// $input-icon-color: var(--text-secondary);
// $input-icon-active-color: var(--text-color);

//TITLE
$title-color: var(--text-color);
$subtitle-color: var(--text-secondary);

//LINK
$link: $primary;


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "bulma/bulma.sass";