:root {

	--font-size: 12px;
	// --font-family: Roboto;
	--color-text-primary: #16191f;
	--color-text-subnav: #fff;

	--color-primary: #433967;
	--color-sucess: #22bb33;
	--color-link: #44b9c6;
	--color-default: #eee;
	--red: #84333B;

	--color-bg-btn-primary-active: #32235A;
	--color-bg-btn-primary-default: #433967;
	--color-bg-btn-primary-disabled: #fff;
	--color-bg-btn-primary-hover: #32235A;

	--border-radius-btn: 4px;

	--color-bg-navbar: #131921;
	--color-bg-subnav: #232f3e;

	--color-text-link: #fff;
	--color-text-link-active: #44b9c6;
	--color-text-link-hover: #44b9c6;
	--color-text-btn: #fff;

	--font-weight-link: 500;




}