@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --font-size: 16px;
  --font-family: 'Orbitron', sans-serif;

  --alpha: 0.5;

  --font-weight-link: 500;

  --color-sucess: #02ff00;
  --color-sucess-1: #30af03;

  --color-online-0: #02ff00;
  --color-online-1: #30af03;

  --color-offline-0: #888;
  --color-offline-1: #333;

  --color-away-0: #fd033f;
  --color-away-1: #a50141;

  --color-game-0: #1f7fd3;
  --color-game-1: #0220eb;

  --color-danger: #84333b;
  --color-default: #eee;

  // BORDERS
  --border-size: 1px;
  --border-size-big: 3px;
  --border-radius: 0px;

  //BUTTONS
  --border-radius-btn: 4px;

  // HEADERS
  --header-h: 59px;
  --subheader-h: 50px;
  --aside-w: 17rem;

  // THEMES
  --theme-purple: #c252e1;
  --theme-orange: #ff9900;
  --theme-blue: #23a0ed;
  --theme-red: #730302;
  --theme-green: #029645;
}

.purple {
  // TEXT
  --color-text-primary: #e0d9f6;
  --color-text-link: var(--color-text-primary);
  --color-text-link-active: #44b9c6;
  --color-text-link-hover: #ecaefd;
  --color-text-btn: #fff;

  // COLORS
  --bg-dark-0: #0a0416;
  --bg-dark-1: #0f0723;
  --bg-dark-2: #14092d;

  --color-primary: var(--theme-purple);
  --color-primary-rgb: #{hexToRGB(#c252e1)};
  //   --color-primary-hover: #9940b2;
  --color-primary-hover: rgba(var(--color-primary-rgb), 0.5);

  --color-bg-dark: #01012b;
  --color-bg-primary: #2a2356;
  --color-bg-secondary: #586ae2;
  --color-link: #6ecbf5;

  // BORDERS
  // --border-color: #2554a5;
  --border-color: var(--color-primary);
  --border-color-active: var(--color-primary);
  --border: var(--border-size) solid var(--border-color);
  --border-big: var(--border-size-big) solid var(--border-color);

  //BUTTONS
  --color-text-btn: var(--color-text-primary);
}

.orange {
  // TEXT
  --color-text-primary: #e0d9f6;
  --color-text-link: var(--color-text-primary);
  --color-text-link-active: #44b9c6;
  --color-text-link-hover: #ecaefd;
  --color-text-btn: #fff;

  // COLORS
  --bg-dark-0: #0d080b;
  --bg-dark-1: #140c11;
  --bg-dark-2: #1a1016;

  --color-primary: var(--theme-orange);
  --color-primary-rgb: #{hexToRGB(#ff9900)};
  --color-primary-hover: #b1834b;
  --color-primary-hover: rgba(var(--color-primary-rgb), 0.5);


  --color-bg-dark: #01012b;
  --color-bg-primary: #2a2356;
  --color-bg-secondary: #586ae2;
  --color-link: #6ecbf5;

  // BORDERS
  // --border-color: #2554a5;
  --border-color: var(--color-primary);
  --border-color-active: var(--color-primary);
  --border: var(--border-size) solid var(--border-color);

  //BUTTONS
  --color-text-btn: var(--color-text-primary);
}

.blue {
  // TEXT
  --color-text-primary: #e0d9f6;
  --color-text-link: var(--color-text-primary);
  --color-text-link-active: #44b9c6;
  --color-text-link-hover: #ecaefd;
  
  --color-text-btn: #fff;

  // COLORS
  --bg-dark-0: #010c17;
  --bg-dark-1: #021223;
  --bg-dark-2: #02172e;

  --color-primary: var(--theme-blue);
  --color-primary-rgb: #{hexToRGB(#23a0ed)};
  --color-primary-hover: #1e80bd;
  --color-primary-hover: rgba(var(--color-primary-rgb), 0.5);


  --color-bg-dark: #01012b;
  --color-bg-primary: #2a2356;
  --color-bg-secondary: #586ae2;
  --color-link: #6ecbf5;

  // BORDERS
  // --border-color: #2554a5;
  --border-color: var(--color-primary);
  --border-color-active: var(--color-primary);
  --border: var(--border-size) solid var(--border-color);

  //BUTTONS
  --color-text-btn: var(--color-text-primary);
}

.red {
  // TEXT
  --color-text-primary: #e0d9f6;
  --color-text-link: var(--color-text-primary);
  --color-text-link-active: #44b9c6;
  --color-text-link-hover: #ecaefd;
  --color-text-btn: #fff;

  // COLORS
  --bg-dark-0: #06000b;
  --bg-dark-1: #090111;
  --bg-dark-2: #0c0117;

  --color-primary: var(--theme-red);
  --color-primary-rgb: #{hexToRGB(#730302)};
  --color-primary-hover: #cd313d;
  --color-primary-hover: rgba(var(--color-primary-rgb), 0.5);


  --color-bg-dark: #01012b;
  --color-bg-primary: #2a2356;
  --color-bg-secondary: #586ae2;
  --color-link: #6ecbf5;

  // BORDERS
  // --border-color: #2554a5;
  --border-color: var(--color-primary);
  --border-color-active: var(--color-primary);
  --border: var(--border-size) solid var(--border-color);

  //BUTTONS
  --color-text-btn: var(--color-text-primary);
}
.green {
  // TEXT
  --color-text-primary: #e0d9f6;
  --color-text-link: var(--color-text-primary);
  --color-text-link-active: #44b9c6;
  --color-text-link-hover: #ecaefd;
  --color-text-btn: #fff;

  // COLORS
  --bg-dark-0: #00080f;
  --bg-dark-1: #000c17;
  --bg-dark-2: #000f1d;

  --color-primary: var(--theme-green);
  --color-primary-rgb: #{hexToRGB(#029645)};
  --color-primary-hover: #00a868;
  --color-primary-hover: rgba(var(--color-primary-rgb), 0.5);


  --color-bg-dark: #01012b;
  --color-bg-primary: #2a2356;
  --color-bg-secondary: #586ae2;
  --color-link: #6ecbf5;

  // BORDERS
  // --border-color: #2554a5;
  --border-color: var(--color-primary);
  --border-color-active: var(--color-primary);
  --border: var(--border-size) solid var(--border-color);
  --border-big: var(--border-size-big) var(--border-color);

  //BUTTONS
  --color-text-btn: var(--color-text-primary);
}
