// html {
// 	overflow: auto !important;
// }

html {
	font-size: var(--font-size);
}

body {
	font-family: var(--font-family);
	font-size: 1rem;


	min-height: 100vh;
	background-color: var(--bg-dark-0);


}