// html {
// 	overflow: auto !important;
// }

html {
  font-size: var(--font-size);
  background-color: var(--bg-dark-0);
  overflow: auto;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;

  min-height: 100vh;
  background-color: var(--bg-dark-0);
}

// SELECCION DE TEXTO
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// ARRASTRAR IMAGENES
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

// SCROLLBAR
/* width */
::-webkit-scrollbar {
	width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	// box-shadow: inset 0 0 5px grey; 
	border-radius: 1rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: var(--color-primary); 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: var(--color-primary-hover); 
  }