.text {
	text-shadow: -0.05rem -0.05rem 0 var(--color-primary),
		0.05rem -0.05rem 0 var(--color-primary),
		-0.05rem 0.05rem 0 var(--color-primary),
		0.05rem 0.05rem 0 var(--color-primary);
	color: var(--color-text-primary);
	transition: 300ms;
	font-size: 1rem;
}

.text.online {
	text-shadow: -0.05rem -0.05rem 0 var(--color-online-1),
		0.05rem -0.05rem 0 var(--color-online-1),
		-0.05rem 0.05rem 0 var(--color-online-1),
		0.05rem 0.05rem 0 var(--color-online-1);
	color: var(--color-online-0);
}

.text.offline {
	text-shadow: -0.05rem -0.05rem 0 var(--color-offline-1),
		0.05rem -0.05rem 0 var(--color-offline-1),
		-0.05rem 0.05rem 0 var(--color-offline-1),
		0.05rem 0.05rem 0 var(--color-offline-1);
	color: var(--color-offline-0);
}

.text.out {
	text-shadow: -0.05rem -0.05rem 0 var(--color-out-1),
		0.05rem -0.05rem 0 var(--color-out-1),
		-0.05rem 0.05rem 0 var(--color-out-1),
		0.05rem 0.05rem 0 var(--color-out-1);
	color: var(--color-out-0);
}

.text.game {
	text-shadow: -0.05rem -0.05rem 0 var(--color-game-1),
		0.05rem -0.05rem 0 var(--color-game-1),
		-0.05rem 0.05rem 0 var(--color-game-1),
		0.05rem 0.05rem 0 var(--color-game-1);
	color: var(--color-game-0);
}

.text.is-small {
	font-size: 0.8rem;
}

.text.is-large {
	font-size: 1.2rem;
}

.text.is-extra {
	font-size: 1.6rem;
}

.is-text-bold {
	font-weight: bold;
}