.bubble {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 1rem;
  padding: 0.2rem 0.5rem;
  vertical-align: top;
  border-radius: 1rem;
  border-top-left-radius: 0rem;

  & .username {
    font-size: 0.8rem;
    font-weight: bold;
  }
}
